html,
body {
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
}

.center{
    margin:auto;
    width: 50%;
    height: 100%;
    text-align: center;
    cursor: grab;
}
.center:active{
    cursor: grabbing;
}

.home{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.home:visited{
    color: black;
}

.image{
    padding-top: 10px;
    max-height: 500px;
    height: var(--width);
    width: 100%;
}